.container {
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: lightblue;
    height: 300px;

}
 .item {

    background: lightcoral;
    width: 100px;
    height: 100px;

 }