/* box model */
* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    
}
.container {

  /*  margin: 20px;  Applies margin to every side*/
   /* margin: 0px 5px 0px 5px; top ,right ,bottom, left*/
    /* margin: 0px 5px; topbottom rightleft */
    /* margin-top: 30px*/
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

    background: lightcoral;
 
    width: 300px;
    height: 400px;
padding: 10px;
border: 2px solid lightgoldenrodyellow
}
.item {
   /*margin: 0 auto*/
   text-align: center;
    width: 50%;
    height: 50%;
}
